@import "../../styles/variables";

.search-bar {
  display: flex;

  input {
    flex: 1;
    padding: 8px 16px;
    border: 1px solid $lightGrey;
    border-right: none;
    border-radius: 4px 0 0 4px;
    height: 40px; // Increased height to match the button
    font-size: 14px;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; // Fixed width for the button
    height: 60px; // Fixed height to match the input
    background-color: $white;
    border: 1px solid $lightGrey;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 0; // Remove padding

    .search-icon {
      width: 20px; // Adjust as needed
      height: 20px; // Adjust as needed
    }
  }
}
